{% extends 'base.html.twig' %}

{% block title %}Donatie gelukt{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <p>Beste collega,</p>
            <br/>
            <p>
                Bedankt voor jouw engagement en bijdrage om de opvanglocaties voor de Oekraïnse vluchtelingen mee te voorzien van het nodige materiaal.
            </p>
            <br/>
            <p>
                Je mag het materiaal komen afgeven op de bureau van het call center (gang 1ste verdieping, langs O&O), dit op
            </p>
            <br/>
            <ul>
                <li>Donderdag 21 april tussen 9u30 en 11u</li>
                <li>Dinsdag 26 april tussen 9u30 en 11u</li>
                <li>Donderdag 28 april tussen 9u30 en 11u</li>
            </ul>
            <br/>
            <p>
                Eén van onze medewerkers zal dan het materiaal in ontvangst nemen.
            </p>
            <br/>
            <p>
                Nogmaals bedankt!
            </p>
        </div>
    </div>
{% endblock %}